@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Nanum+Myeongjo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #10172c;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #0b65d4;
}

.calculator-bg {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.2) 0%,
    rgba(237, 237, 237, 0.08) 100%
  );
  width: 720px;
  height: 270px;
}

.calculator-bg2 {
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.2) 0%,
    rgba(237, 237, 237, 0.08) 100%
  );
  width: 720px;
  height: 460px;
  border-radius: 16px;
}

.calculator-bg3 {
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.2) 0%,
    rgba(237, 237, 237, 0.08) 100%
  );
  width: 720px;
  height: 740px;
  border-radius: 16px;
}

.input-field {
  width: 660px;
  height: 60px;
  font-size: large;
  border-radius: 16px;
  border: 2px solid #0b65d4;
  background: #fff;
}

.output-field {
  width: 720px;
  height: 104px;
  font-size: large;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.2) 0%,
    rgba(237, 237, 237, 0.08) 100%
  );
}

.calculate {
  display: flex;
  width: 660px;
  height: 60px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #0b65d4;
}

.nanum {
  font-family: "Nanum Myeongjo";
}

.crowdcard {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.2) 0%,
    rgba(237, 237, 237, 0.08) 100%
  );
}
